In [67]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import islice

In [133]:
#column_names = ('pattern','values')
p1 = [-1,0,9]
p2 = [-2,0]
p3 =['']
p4 = [6]
missing_vals = pd.DataFrame([['A',p1],['B',p2],['C',p3],['D',p4]],columns =['attribute','value'])

missing_vals.set_index('attribute',inplace=True)
for row in missing_vals['value']:
    print (row)
print (missing_vals.index)
print ("A: ",missing_vals.loc['A'][0])
#missing_vals = missing_vals['value'].tolist()
print (missing_vals.dtypes)
#miss.append('pat2',[-1,0,9])
#miss.append('pat3',[-1,0,9])

[-1, 0, 9]
[-2, 0]
['']
[6]
Index(['A', 'B', 'C', 'D'], dtype='object', name='attribute')
A:  [-1, 0, 9]
value    object
dtype: object

In [130]:
p1 = 9
p2 = -1
p3 = 0 
p4 = 2
azdias =  pd.DataFrame([[p1,p2,p3,p4],[p1,p2,p3,p4],[p1,p2,p3,p4],[p1,p2,p3,p4]],columns =['A','B','C','D'])
azdias

   A  B  C  D
0  9 -1  0  2
1  9 -1  0  2
2  9 -1  0  2
3  9 -1  0  2

In [131]:
print (azdias['B'].dtype)
print (azdias['B'])
#print (missing_vals.at['A','value'])
print ("====" *10)
for column in azdias.columns:
    azdias[column] = azdias[column].replace(missing_vals.loc[column][0], np.nan)
azdias

int64
0   -1
1   -1
2   -1
3   -1
Name: B, dtype: int64
========================================

    A  B  C  D
0 NaN -1  0  2
1 NaN -1  0  2
2 NaN -1  0  2
3 NaN -1  0  2